<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="jquery-3.6.0.min.js"></script>
</head>
<body>
	<table border=1>
		<tr>
			<td>아이디</td>
			<td>이름</td>
			<td>전화번호</td>
			<td>주소</td>
		</tr>
		{% for i in rst %}
		<tr id='data'>
			<td><a href="javascript:setData('{{i.m_id}}','{{i.m_name}}','{{i.tel}}','{{i.addr}}')">
			{{i.m_id}}</a></td>
			<td>{{i.m_name}}</td>
			<td>{{i.tel}}</td>
			<td>{{i.addr}}</td>
		</tr>
		{% endfor %}
	</table>
	
	<table border=1>
		<tr>
			<td>아이디</td>
			<td><input type="text" id="m_id" size="10"/></td>
		</tr>
		<tr>
			<td>이름</td>
			<td><input type="text" id="m_name" size="10"/></td>
		</tr>
		<tr>
			<td>전화번호</td>
			<td><input type="text" id="tel" size="10"/></td>
		</tr>
		<tr>
			<td>주소</td>
			<td><input type="text" id="addr" size="10"/></td>
		</tr>
		
		<tr>
			<td colspan="2">
				<input type="button" value="추가" onclick="myinsert()"/>
				<input type="button" value="수정" onclick="myupdate()"/>
				<input type="button" value="삭제" onclick="mydelete()"/>
			</td>
		</tr>
	</table>
	
	
	<script>
	
		function setData(m_id, m_name, tel, addr){
			
			$('#m_id').val(m_id)
			$('#m_name').val(m_name)
			$('#tel').val(tel)
			$('#addr').val(addr)
			
		}
		
		function myinsert(){
			
			const m_id = $('#m_id').val();
			const m_name = $('#m_name').val();
			const tel = $('#tel').val();
			const addr = $('#addr').val();
			
			const postdata = {
					'm_id' : m_id,
					'm_name' : m_name,
					'tel' : tel,
					'addr' : addr
			}
			
			$.ajax({
				url : 'myinsert',
				type : 'POST',
				data : JSON.stringify(postdata),
				contentType : 'application/json',
				success : function(data){
					if(data.result == 'success'){
						alert("정상적으로 추가되었습니다");
						location.reload();
					}
				},
				error : function(xhr){
					alert(xhr.status);
				},
				dataType : 'JSON'
			});
			
		}
		
		function myupdate(){
			
			const m_id = $('#m_id').val();
			const m_name = $('#m_name').val();
			const tel = $('#tel').val();
			const addr = $('#addr').val();
			
			const postdata = {
					'm_id' : m_id,
					'm_name' : m_name,
					'tel' : tel,
					'addr' : addr
			}
			
			$.ajax({
				url : 'myupdate',
				type : 'POST',
				data : JSON.stringify(postdata),
				contentType : 'application/json',
				success : function(data){
					if(data.result == 'success'){
						alert("정상적으로 수정되었습니다");
						location.reload();
					}
				},
				error : function(xhr){
					alert(xhr.status);
				},
				dataType : 'JSON'
			});
			
		}
		
		function mydelete(){
			
			let flag = confirm('한번 삭제된 데이터는 복구할 수 없습니다. 그래도 삭제 하시겠습니까?');
			
			if(!flag){
				return
			}
			
			const m_id = $('#m_id').val();
			
			$.ajax({
				url : 'mydelete',
				type : 'POST',
				data : JSON.stringify({'m_id' : m_id}),
				contentType : 'application/json',
				success : function(data){
					if(data.result == 'success'){
						alert("정상적으로 삭제되었습니다");
						location.reload();
					}
				},
				error : function(xhr){
					alert(xhr.status);
				},
				dataType : 'JSON'
			});
			
		}
	</script>
	
</body>
</html>